<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbarCollapsing()" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [class.collapse]="navbarCollapsed" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a 
          [routerLink]= "['/register']"
          class="nav-link">Register <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a 
          [routerLink]= "['/login']"
          class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a 
            [routerLink]= "['/developers']"
            class="nav-link">Developers</a>
          </li>
          <li class="nav-item">
            <a 
            [routerLink]= "['/createdevelopers']"
            class="nav-link">Create Developer</a>
          </li>
      </ul>
      
    </div>
  </nav>

  

